.heading-left {
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.sliders {
  padding: 20px;
}

.slider-box {
  padding: 10px;
}

.searchBar {
  padding: 10px;
}

.filter {
  padding: 10px;
}

.extra-space {
  margin: 5px;
}
